This is the home page!

{{#each posts}}
<li class="list-group-item">
  <a href="/posts/{{this._id}}" class="lead">{{this.title}}</a><br>
  <a href="{{this.url}}" target="_blank">{{this.url}}<a>
</li>

{{/each}}
